<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedProject?.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Change your project name</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" placeholder="{{selectedProject?.name}}" class="form-control input-md" required="" type="text">
        <span class="help-block"> </span>
      </div>
    </div>
  <div class="col-xs-12">
    <!--<button class="btn btn-success" (click) = "onAddToPhase()"> Add The Phase</button>-->
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Change your project description</label>
      <div class="col-md-4">
        <textarea id="textinput" name="textinput" placeholder="{{selectedProject?.description}}" class="form-control input-md" required="" type="text"></textarea>
        <span class="help-block"> </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor = "let item of selectedProject?.phases">{{item.name}} ({{item.status}})</li>
    </ul>
  </div>
</div>

