<div class="row">
  <div class="col-xs-12">
    <h2>My Project</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-10">
    <ul class="list-group">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">Project 1</h4>
          <p class="list-group-item-text">Description</p>
        </a>

        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">Project 2</h4>
          <p class="list-group-item-text">Description</p>
        </a>


        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">Project 3</h4>
          <p class="list-group-item-text">Description</p>
        </a>

        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">Project 4</h4>
          <p class="list-group-item-text">Description</p>
        </a>

      </div>
    </ul>
  </div>
</div>
